a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/*=========Top-bar========*/
.section-header-wrap{
	background: url("../images/h2s_sec.png") no-repeat center, linear-gradient(to right, #E61852, #1cbdf9);
    background-size: auto, auto;
	background-size: cover;
}

.section-headline {
	max-width: 1170px;
    width: 95%;
    margin: 0 auto;
    height: 90px;
    padding: 0 30px;
    overflow: hidden;
}

.section-headline h2 {
    float: left;
    line-height: 90px;
    font-family: "Titillium Web", sans-serif;
    color: #fff;
    padding: 0 23px;
    font-weight:700;
}

.section-headline p {
	float: right;
	color: #fff;
	line-height: 90px;
	font-family: "Titillium Web", sans-serif;
	padding-right: 23px;
}

.section-headline p .separator {
    margin: 0 13px;
}

/*========side-bar=======*/
#products {
    background: #F5F5F5;
}

#myList > button {
    color: #2C373B;
    font-weight: 800;
    transition: all .3s ease;
}

#myList > button:hover {
    border-left: 5px solid #E61852;
}

#myList > button:focus {
    border-left: 5px solid #E61852;
}

/*=======Content=========*/
.side-menu-header {
    background: #FFF;
    width: 100%;
    border-left: 7px solid #E61852;
}

.side-menu-header > h5 {
    color: #2B373A;
    font-weight: 600;
}

.profile-wrapper {
    background: #FFF;
}

.profile-info > h5 {
    color: #2C373B;
    font-weight: 800;
}

.profile-info-form > .form-group > label {
    color: #2C373B;
    font-weight: 800;
}

.profile-info-form > .text-center > button {
    font-weight: 800;
    background: #E61852;
    border: 1px solid #E61852;
}

.profile-info-form > .text-center > button:active {
    background: #E61852;
}

.card-img-top {
    height: 150px;
}

@media (max-width: 1023px) {
    .card-img-top {
        height: auto;
    }
}